body{
  font-family: monospace;
  font-style: italic;
  background-color: blue;
  
}

.container{
  margin: 500px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
}